.fill{
    
    background-color: black;
    width: 100%;
    height: 125px;
    position: relative;
}

.title{

    color: yellow;
    width: 30%;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -550px 0 0 -150px;
    
}

nav ul li{
    display: inline;
    padding: 0 10px;

}


nav ul li a:hover{
    background-color: #575757;
    border-radius: 5px;
}

.card{
    display: flex;
    justify-content: center;
    margin: 100px 0 0 600px;
}




.card img {
    width: 18rem;
    height: auto;
    margin: 0 0 0 150px;
    background-color: #0f1524;
}

.card-body{

    margin: 0 0 0 150px;
}





table {
    width: 6px;
    border-collapse: collapse;
    text-align: center;
    
    
}



footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 4epx;
    color: #fff;
}


.footer-content{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}


.footer-content h3{  
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p{

    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.footer-bottom{
    background:#000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}

.footer-bottom p{

    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;

}

.footer-bottom span{

    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}